        
/*Masterpage*/
    #footer-link-meraki{
        height: 15px;
    }
    #footer-link-gve-devnet{
        height: 30px;
        bottom: 4px;
        position: relative;
    }
    #time_location_note{
        color: var(--cui-color-gray-500);
        padding-top: 5px;
        text-align: center;
        font-size: var(--cui-font-size-sm);
    }
    /*Position footer at bottom. Even with less content.*/
    .cui .content{
        min-height: 93vh;
    }
    body.cui footer, body.cui .footer{
        margin-top: 0;
    }
    /*Header*/
    #header-logo{
        font-size: 23px;
    }

/*Login*/  
    .required-label{
        color: var(--cui-form-label-color);
    }    
    #customer-logo{
        height:55px;
        margin-bottom: 10px;
    }

/*Left Menu*/
.cui .sidebar{
    padding-top: 30px;
}

/*Charts from chart.js*/
.chartjs-render-monitor{
    background-color: white;
    padding: 10px;
}

/*list groups*/
.list-group{
    padding-left: 0 !important;
}

.list-group-item{
    list-style-type: none;
}

#meraki_api h3{
    margin-top: 20px;
}

.list-group-item .btn--link{
    padding-left: 0;
    padding-right: 0;
    text-align: left;
}


/*table*/
.cui .responsive-table{
    width: 100%;
}

.sortable thead th{
    --th-color:#000;
    --td-on-stripe-color: #000;
    --stripe-color: #000;
}


/*Visitor tag*/
.tag_container {
    
    /* Styling */  
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    
    /* Center it */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card {
    /* Styling */
    width: 700px;
    height: 400px;
    padding: 50px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);  
  }


/* Back styling */
.back {
    padding: 30px;
    }
    .name {
    color: #3B3B3B;
    margin-bottom: 0;
    }
    p {
    margin: 0.8em 0;
    }
    .info {
    position: absolute;
    bottom: 30px;
    color: #3b3b3b;
    }
    .property {
    color: #fff;
    }







